<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Editar Ronda</title>
</head>
<body>
<form method="post">
    <select name="tipo">
        <option value="posto" {% if ronda.tipo == 'posto' %}selected{% endif %}>Posto</option>
        <option value="lacre" {% if ronda.tipo == 'lacre' %}selected{% endif %}>Lacre</option>
        <option value="secao" {% if ronda.tipo == 'secao' %}selected{% endif %}>Seção</option>
    </select>
    <label>Nome da Ronda</label>
    <input type="text" name="nome" value="{{ ronda.nome }}">
    <button>Salvar</button>
</form>
<a href="/apagar_ronda/{{ ronda.id }}"><button>Apagar</button></a>
</body>
</html>
