<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Controle de Ronda</title>
</head>
<body>
<h1>Painel de Administrador</h1>
<a href="adicionar_usuario.html"><button>Adicionar Usuario</button></a>
<br><br>
<a href="/adicionar_ronda"><button>Adicionar Ronda</button></a>
<br><br>
<button>Editar Ronda</button>
<br><br>
<a href="/ver_rondas"><button>Ver Rondas</button></a>
<br><br>
<a href="/registrar_ronda"><button>Registrar Ronda</button></a>
<br><br>
<a href="/login"><button>Sair</button></a>
</body>
</html>