<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Registrar Ronda</title>
</head>
<body>
<form method="post">
    <input type="file" name="foto" accept="image/*" capture="environment">
    {% if ronda.tipo == 'posto' %}
    <label>Nome do Militar</label>
    <input type="text" name="nome_militar">
{% elif ronda.tipo == 'lacre' %}
    <label>Número do Lacre</label>
    <input type="text" name="numero_lacre">
{% endif %}
    <label>Observação: (Se nao tiver nada pra adicionar coloque S/A)</label>
    <input type="text" name="observacao">
    <button>Enviar</button>
</form>
</body>
</html>
