<!DOCTYPE html>
<html lang="pt">
<head><meta charset="UTF-8"><title>Painel</title>
<link rel="stylesheet" href="/static/style.css"></head>
<body>
<div class="container">
    <div class="topo">
        <h1>Olá, {{ nome }}!</h1>
        <a href="/sair" class="btn btn-secondary">Sair</a>
    </div>
    <a href="/iniciar_sessao" class="btn btn-success">▶ Iniciar Ronda</a>
    <a href="/historico" class="btn btn-primary">📋 Histórico</a>
    <br><br>
    <a href="/ver_usuarios" class="btn btn-primary">Ver Usuários</a>
    <a href="/adicionar_ronda" class="btn btn-primary">Adicionar Ronda</a>
    <a href="/ver_rondas" class="btn btn-primary">Ver Rondas</a>
</div>
</body></html>
